@font-face {
	font-family: Manrope;
	src: url("./font/manrope/web/Manrope-Medium.woff") format("woff"),
		 url("./font/manrope/web/Manrope-Medium.woff2") format("woff2");
	font-weight: normal;
	font-synthesis: style;
}

@font-face {
	font-family: Manrope;
	src: url("./font/manrope/web/Manrope-Bold.woff") format("woff"),
		 url("./font/manrope/web/Manrope-Bold.woff2") format("woff2");
	font-weight: bold;
}

@font-face {
	font-family: Urbanist;
	src: url("./font/urbanist/webfont/Urbanist-Regular.woff") format("woff"),
		 url("./font/urbanist/webfont/Urbanist-Regular.woff") format("woff2");
}

html, body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Manrope, sans-serif;
	height: 100%;	
	margin: 0;
	padding: 0;
	z-index: 2;
}

.header-row {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 10% 0 10%;
    /*z-index:10;*/
}

html.boxed .body {
    margin-top: 90px;
    z-index: 2;
}

.cbox, #cfixed {
	display: block;
	width: 90%;
	max-width: 1280px;
	padding: 5px;
	/*padding-top: -5px;*/
	margin-left: auto;
	margin-right: auto;
}

#cfixed {
	position: fixed;
	z-index: 0;
}

.parallax, #home {
	min-height: 720px;

	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
}

#home {
	background-image: url("images/taichuan_smaller_size.jpg");
}

.hidden {
	overflow-x: hidden;
}

.colourband {
	background-color: #a17667;
	color: #f1f2e9;
	margin: 0 -500%;
	padding: 0.5rem 500%;
}

.columncontainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;  /* 3 columns */
	grid-column-gap: 40px;
}

.ctwo {
	display: grid;
	grid-template-columns: 1fr 1fr; 
	grid-column-gap: 40px;
}

.cthreesmall {
	max-width: 420px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.column {
	max-width: 400px;
}

.tinycolumn {
	max-width: 100px;
}

.buttonwrapper {
	padding: 5px;
	background-color: #a17667;
	color: #f1f2e9;
	font-family: Manrope;
	text-align: center;
	margin: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	transition: box-shadow 0.3s ease-in-out;
}

.buttonwrapper:hover {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}

.buttonwrapper a {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	height: 100%;
}

img {
	max-width: 100%;
	max-height: auto;
}

header {
	background-color: #a17667;/*#637457;*/ /*#D52A2A;*/
	color: #f1f2e9;
	margin: 0 -500%;
	padding: 0.5rem 500%;
}

footer {
	background-color: #a17667;
	color: #f1f2e9;
	margin: 0 -500%;
	padding: 0.5rem 500%;
}

a.nav {
	font-family: Urbanist;
	text-align: center;
	letter-spacing: 1px;
	margin-top: -30px;
	color: white;
	font-size: 10;
	text-decoration: none;
}

h1 {
	font-family: Urbanist;
	font-size: 36pt;
	text-align: center;
	letter-spacing: 2px;
	padding: 5px;
}

h2 {
	font-family: Urbanist;
	font-size: 24pt;
	text-align: center;
	letter-spacing: 2px;
	padding: 5px;
}

h3 {
	font-family: Urbanist;
	font-size: 20pt;
	text-align: center;
	letter-spacing: 2px;
	padding: 3px;
}

p {
	font-family: Manrope;
	/*text-align: justify;*/
	z-index: 2;
}

p.subheading {
	font-family: Urbanist;
	text-align: center;
	letter-spacing: 2px;
	margin-top: -30px;
}

p.small {
	font-size: 8pt;
}

@media (max-width: 768px) {
		.columncontainer {
		display: grid;
		grid-template-columns: 1fr;  /* 3 columns */
	}
}
