@font-face {
	font-family: Manrope;
	src: url("./font/manrope/web/Manrope-Medium.woff") format("woff"),
		 url("./font/manrope/web/Manrope-Medium.woff2") format("woff2");
	font-weight: normal;
	font-synthesis: style;
}

@font-face {
	font-family: Manrope;
	src: url("./font/manrope/web/Manrope-Bold.woff") format("woff"),
		 url("./font/manrope/web/Manrope-Bold.woff2") format("woff2");
	font-weight: bold;
}

@font-face {
	font-family: Urbanist;
	src: url("./font/urbanist/webfont/Urbanist-Regular.woff") format("woff"),
		 url("./font/urbanist/webfont/Urbanist-Regular.woff") format("woff2");
}

html, body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Manrope, sans-serif;
	height: 100%;	
	margin: 0;
	padding: 0
}

.header-row {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 10% 0 10%;
    z-index:10;
}

html.boxed .body {
    margin-top: 90px;
}

.cbox {
	display: block;
	width: 70%;
	padding: 5px;
	padding-top: -10px;
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	overflow-x: hidden;
}

header {
	background-color: #D52A2A;
	color: #FFFFFF;
	margin: 0 -500%;
	padding: 0.5rem 500%;
}

h1 {
	font-family: Urbanist;
	font-size: 36pt;
	text-align: center;
	letter-spacing: 2px;
}

h2 {
	font-family: Urbanist;
	font-size: 24pt;
	text-align: center;
}

h3 {
	font-family: Urbanist;
	font-size: 20pt;
	text-align: center;
}

p {
	font-family: Manrope;
	text-align: justify;
}

p.subheading {
	font-family: Urbanist;
	text-align: center;
	letter-spacing: 2px;
	margin-top: -30px;
}
