@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@460;750&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');

@font-face {
    font-family: Urbanist;
    src: url("./font/urbanist/webfont/Urbanist-Regular.woff") format("woff"),
         url("./font/urbanist/webfont/Urbanist-Regular.woff") format("woff2");
}

@font-face {
    font-family: JBMono;
    src: url("./font/jbmono/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: Rekharhakr;
    src: url("./font/rekharhakr_minuscule.woff") format("woff");
    /* src: url("./font/rekharhakr-minuscule.woff") format("woff2"); */
}

/* #region root */

:root {
    --bg-col: #ffffff;
    --bg-active: #f1f2e9;
    --txt-col: #000000;
    --band-col: #a17667;
    --band-txt: #f1f2e9;
    --pink: #c7917f;
    --blue: #1f7282;
    --green: #3a6342;
    --overlay: #00000030;
    --tai-home: url("images/taichuan_smaller_size.jpg");
    --tai-smol: url("images/taichuan_smaller_size_squish.jpg");
    --filter: unset;
    --img-bg: #0000;
}

html, body {
    background-color: var(--bg-col);
    color: var(--txt-col);
    font-family: "Manrope", "Noto Serif SC", sans-serif;
    font-variant-ligatures: contextual; 
    height: 100%;   
    margin: 0;
    padding: 0;
    z-index: 2;
    /*display: contents;*/
}

.header-row {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 10% 0 10%;
    /*z-index:10;*/
}

html.boxed .body {
    margin-top: 90px;
    z-index: 2;
}

/* #endregion */

/* #region divs */

.cbox, #cfixed {
    display: block;
    width: 90%;
    max-width: 840px;/*1200px;*/
    padding: 5px;
    /*padding-top: -5px;*/
    margin-left: auto;
    margin-right: auto;
}

#cfixed {
    position: fixed;
    z-index: 0;
}

.w {
    max-width: 1000px;
}

.wgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.cornell {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 20px;
    max-width: 840px;
}
div.cornell > div:nth-child(odd) *{
    text-align: right;
    font-style: italic;
} 

.parallax {
    min-height: 480px;

    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    z-index: 0;
}

.home {
    min-height: 720px;
    background-image: var(--tai-home);
}

.homefan {
    min-height: 720px;
    /* background-image: url("images/dragon-flute.png"); */
    background-image: var(--img, url("images/ouyangzhan.jpg"));
}

.smallfan {
    max-height: 480px;
    background-image: var(--img, url("images/ouyangzhan.jpg"));
}

.parsmaller {
    background-image: var(--tai-smol);
    background-position: top;
    background-size: 100%;
}

.hidden {
    /*overflow-x: hidden;*/
    overflow-x: auto;
    position: relative;
    min-height: 100vh;
}

.colourband {
    background-color: var(--band-col);
    color: var(--band-txt);
    /*margin: 0 -500%;*/
    /*padding: 0.5rem 500%;*/
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* width: 100vw; */
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    /*display: inline-block;*/
    
    text-align: center;
}

.columncontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  /* 3 columns */
    grid-column-gap: 40px;
}

.ctwo {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-column-gap: 40px;
}

.cthreeside {
    max-width: 280px;
    /*margin-left: auto;
    margin-right: auto;*/
    text-align: center;
    padding: 5px;
    padding-left: 10px;
    grid-column-gap: 20px;
}

.column {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.tinycolumn {
    max-width: 100px;
}

.codediv {
    color: var(--blue);
    font-family: JBMono;
    border-width: thin;
    border-style: solid;
    border-color: var(--blue);
    border-spacing: 10px 10px;
    padding: 10px;
    white-space: pre;
    tab-size: 4;
}

.boxdiv {
    border-width: thin;
    border-style: solid;
    border-color: var(--pink);
    border-spacing: 10px 10px;
    padding: 10px;
}

.leftcol {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 40px;
    padding-bottom: 40px;
}
.rightcol {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 40px;
    padding-bottom: 40px;
}

.fitdiv > img {
    object-fit: cover;
    object-position: var(--off, 0) 0;
    height: 100%;
    width: 100%;
}

.banner {
    width: 100%;
    height: 160px;
}

.banner > img {
    object-fit: cover;
    object-position:  0 var(--off, 0);
    height: 100%;
    width: 100%;
}

/* #endregion */

/* #region button */

.buttonwrapper {
    padding: 5px;
    background-color: var(--band-col);
    color: var(--band-txt);
    font-family: "Manrope";
    text-align: center;
    margin: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.buttonwrapper:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}

.buttonwrapper a {
    color: var(--band-txt);
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.buttonwrapper.beside {
    float: left; 
    margin-left: 20px; 
    margin-top: 20px;
}

/* #endregion */

/* #region imgs and header bands */

img {
    max-width: 100%;
    max-height: auto;
    filter: var(--filter);
    background-color: var(--img-bg);
}

img.except {
    max-width: 100%;
    max-height: auto;
    background-color: #0000;
    filter: unset;
}



header {
    background-color: var(--band-col);
    color: var(--band-txt);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* width: 100vw; */
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    /*display: inline-block;*/
    /*text-align: center;*/
}

pre { 
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

header.green {
    background-color: var(--green);
    color: var(--band-txt);
}

footer {
    background-color: var(--band-col);
    color: var(--band-txt);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* width: 100vw; */
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    /*display: inline-block;*/
    box-shadow: 0 50vh 0 50vh var(--band-col);
}

footer.green {
    background-color: var(--green);
    color: var(--band-txt);
    box-shadow: 0 50vh 0 50vh var(--green);
}

/* #endregion */

/* #region as and buttons */

a.nav {
    font-family: Urbanist;
    text-align: center;
    letter-spacing: 1px;
    margin-top: -30px;
    color: var(--band-txt);
    font-size: 8;
    text-decoration: none;
    letter-spacing: 2px;
    transition: text-shadow 0.3s ease-in-out;
}

a.nav:hover {
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}

a {
    color: var(--pink);
    text-decoration: none;
}

a.green {
    color: var(--green);
    background: none;
}

a:hover:not(.nav) {
    text-decoration: underline;
}

a.text:hover {
    color: var(--blue);
    text-decoration: underline;
}

a.white {
    color: var(--band-txt);
}

a.black {
    color: var(--txt-col);
}

button.nav {
    font-family: Urbanist;
    text-align: center;
    margin-top: -30px;
    color: var(--band-txt);
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 2px;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    transition: text-shadow 0.3s ease-in-out;
}

button.nav:hover {
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}

.buttonwrapper > a:hover {
    text-decoration: none;
}

.collapsible:after {
    content: '+';
    font-style: normal;
    font-size: 16px;
    font-family: Manrope, sans-serif;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '-';
    font-style: normal;
}

button.collapsible {
    font-family: Manrope, sans-serif;
    color: var(--pink);
    background: none;
    border: none;
    border-left: 1px solid var(--pink);
    border-spacing: 10px 0px;
    padding-left: 10px;
    margin-left: -10px;
    font-size: 16px;
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-style: italic;
}

/* if replaced with button.active then it works, but I thin the current looks nicer? */
.active, .collapsible:hover {
    background-color: var(--bg-active);
}

button.nul {
    border: none;
    border-spacing: 0px 0px;
    padding-left: 0px;
    margin-left: 0px;
}

.ccontent {
    border-left: 1px solid var(--pink);
    border-spacing: 10px 0px;
    padding-left: 10px;
    margin-left: -10px;
    overflow: hidden;
    display: none;
    transition: max-height 0.2s ease-out;
}

.ccontent.inv {
    display: block;
}

.ccontent.nul, .cnul {
    border: none;
    border-spacing: 0px 0px;
    padding-left: 0px;
    margin-left: 0px;
}

input[type=text].search {
	background-color: var(--band-txt);
	font-family: Manrope, sans-serif;
	padding: 6px;
 	border: none;
 	margin-top: 8px;
 	/*margin-right: 16px;*/
 	font-size: 17px;	
 	width: 300px;
}

button.search {
	background-color: var(--band-col);
	padding: 6px;
	margin-top: 8px;
	margin-right: 16px;
	font-size: 17px;
	color: var(--band-txt);
	font-family: Manrope, sans-serif;
	border: none;
	cursor: pointer;
}

/* #endregion */

/* #region text headers */

h1 {
    font-family: Urbanist;
    font-size: 36pt;
    text-align: center;
    letter-spacing: 2px;
    padding: 5px;
}

h2 {
    font-family: Urbanist;
    font-size: 24pt;
    letter-spacing: 2px;
    /*padding: 5px;*/
}

h3 {
    font-family: Urbanist;
    font-size: 20pt;
    letter-spacing: 2px;
    /*padding: 3px;*/
}

h4 {
    font-family: Urbanist;
    font-size: 16pt;
    letter-spacing: 2px;
}

h3.c {
    font-family: Urbanist;
    font-size: 20pt;
    letter-spacing: 2px;
    text-align: center;
}

.sc {
    font-variant: small-caps;
}

/* #endregion */

/* #region p */

p {
    /* font-family: "Manrope", sans-serif; */
    /*text-align: justify;*/
    z-index: 2;
}

p.subheading, p.subtitle {
    font-family: Urbanist;
    text-align: center;
    letter-spacing: 2px;
    margin-top: -30px;
}

p.small {
    font-size: 8pt;
}

p.grey, .grey {
    color: gray;
}

p.bigred, .bigred {
    color: red;
    font-weight: bold;
}

p.rj {
    text-align: right;
}

p.side {
    border-left: 1px solid var(--pink);
    border-spacing: 10px 0px;
    padding-left: 10px;
    margin-left: -10px;
}

p.blue {
    border-width: thin;
    border-style: solid;
    border-color: var(--blue);
    border-spacing: 10px 10px;
    padding: 10px;
    margin-left: -10px;
}

p.ir {
    text-align: right;
    font-style: italic;
}
div.ir {
    text-align: right;
    font-style: italic;
}

p.cls {
    padding-left: 0px;
    padding-right: 10pt;
    font-family: "Noto Serif SC", serif;
}

p.cls.h {
    writing-mode: horizontal-tb;
}

p.cls.fancy {
    font-family: "Long Cang", serif;
}

p.cls.border {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-spacing: 10px;
    padding: 10px;
}

p.centre, .centre {
    text-align: center;
}

.clscont {
    margin: 0 auto;
    display: block;
    /* text-align: center; */

    writing-mode: vertical-rl;
    font-size: 16pt;
    letter-spacing: 5pt;
    overflow-x: scroll;
    direction: rtl;

    max-height: 400px;
    width: 600px;
    max-width: inherit;
    text-align: left;
}

code {
    font-family: JBMono;
    color: var(--blue);
}

blockquote {
    font-style: italic;
}

/* #endregion */

/* #region figs */

figcaption {
    text-align: center;
}

figcaption.i {
    font-style: italic;
}

figure > img {
    margin: 0 auto; 
    display: block; 
    width: 100%; 
    max-width: min-content;
}

/* #endregion */

/* #region lists tables */

hr {
    color: var(--pink);
}

hr.green {
    color: var(--green);
}

li {
    margin-bottom: 8px;
}

table {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}



table, th, td {
    border-collapse: collapse;
    border-top: 1px solid var(--pink);
    border-bottom: 1px solid var(--pink);
}

th, td {
    padding-left: 8px;
    padding-right: 8px;
}

table.noborder td, table.noborder th, table.noborder {
    border-top: none;
    border-bottom: none;
}

:is(ul.not, ol.not) > li {
    margin-bottom: 0px;
}

ol.side, ul.side {
    border-left: 1px solid var(--pink);
    border-spacing: 24px 0px;
    padding-left: 24px;
    margin-left: -24px;
}

/* #endregion */


/* #region overrides */

.green {
    background-color: var(--green);
    color: var(--band-txt);
}

.blue {
    border-width: thin;
    border-style: solid;
    border-color: var(--blue);
    border-spacing: 10px 10px;
    /*padding: 10px;*/
    padding-left: 10px;
    margin-left: -10px;
}

.side {
    border-left: 1px solid var(--pink);
    border-spacing: 10px 0px;
    padding-left: 10px;
    margin-left: -10px;
}

.overlay {
    background-color: var(--overlay);
    box-shadow: 0 0 5px 5px var(--overlay);
}

.nopad {
    padding: 0px 0px;
    border-spacing: 0px 0px;
}

.draconic, h1.draconic, p.draconic, div.draconic, div.draconic > p, e-drac {
    font-family: Rekharhakr, sans-serif;
    font-style: normal;
}

/* #endregion */

/*-----------------------------------------------------------------------*/

@media (max-width: 800px) {
    .buttonwrapper.beside {
        display: inline-block;
        
        float: none;
        margin-top: 20px;
        margin-left: 20px;
    }

    .hidden {
        overflow-x: auto;
    }

    .columncontainer {
        display: grid;
        grid-template-columns: 1fr; 
    }

    .cthreeside {
        max-width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        padding: 5px;
        grid-column-gap: 0px;
    }

    .cornell {
        display: grid;
        grid-template-columns: 1fr;
    }

    a.nav {
        font-size: 12;
    }

    .parsmaller{
        min-height: 480px;

        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        align-content: center;
        z-index: 0;
    }

    p.classical {
        writing-mode: horizontal-tb;
        font-size: 16pt;
    }

    .wgrid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .codediv {
        font-family: JBMono;
        border-width: thin;
        border-style: solid;
        border-color: var(--blue);
        border-spacing: 10px 10px;
        padding: 10px;
        white-space: pre-wrap;
        tab-size: 2;
    }
}

