@font-face {
    font-family: Noto;
    src: url("./NotoSans-Qin-2.0.1.otf") format("opentype");
}

@font-face {
    font-family: Dejavu;
    src: url("dejavu-sm.ttf") format("truetype");
}

body {
    font-family: Noto, sans-serif;
    font-variant-ligatures: normal;
}

z-z {
    float: right;
}

z-eu {
    border-bottom: 1px solid var(--txt-col);
}

q-in {
    font-size: 16px;
    font-family: Noto, sans-serif;
}

pre {
    line-height: normal;
    font-size: 16px;
    font-family: Dejavu, sans-serif;
}

p.qinpu {
    font-family: Noto, sans-serif;
    font-size: 32px;
    margin-top: -5px;
    margin-bottom: -5px;

    padding-top: 5px;
    padding-bottom: 5px;
    /*border-top: 1px solid grey;*/
    /*border-bottom: 1px solid grey;*/
}

p.qinpu.small {
    font-size: 16px;
}

table {
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: unset;
}

td.qinpu {
    font-family: Noto, sans-serif;
    font-size: 32px;
    margin-top: -5px;
    margin-bottom: -5px;

    padding-top: 5px;
    padding-bottom: 5px;
    /*border-top: 1px solid grey;*/
    /*border-bottom: 1px solid grey;*/
}

td.beat {
    font-size: 16px;
}

tr.j {
    line-height: 0pt;
}

td.j {
    line-height: 0pt;
}

h2 {
    font-family: Urbanist;
    font-size: 24pt;
    letter-spacing: 2px;
    /*padding: 5px;*/
    text-align: center;
}