@font-face {
    font-family: Noto;
    src: url("./noto-qin-jianzipu.ttf") format("truetype");
}

@font-face {
    font-family: Dejavu;
    src: url("dejavu-sm.ttf");
}

body {
    font-family: Noto, sans-serif;
    font-variant-ligatures: contextual;
}

z-z {
    float: right;
}

z-eu {
    border-bottom: 1px solid var(--txt-col);
}

pre {
    font-size: 16px;
    font-family: Dejavu, sans-serif;
}

p.qinpu {
    font-family: Noto, sans-serif;
    font-size: 32px;
    margin-top: -5px;
    margin-bottom: -5px;

    padding-top: 5px;
    padding-bottom: 5px;
    /*border-top: 1px solid grey;*/
    /*border-bottom: 1px solid grey;*/
}

table {
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: unset;
}

td.qinpu {
    font-family: Noto, sans-serif;
    font-size: 32px;
    margin-top: -5px;
    margin-bottom: -5px;

    padding-top: 5px;
    padding-bottom: 5px;
    /*border-top: 1px solid grey;*/
    /*border-bottom: 1px solid grey;*/
}

td.beat {
    font-size: 16px;
}

tr.j {
    line-height: 0pt;
}

td.j {
    line-height: 0pt;
}

h2 {
    font-family: Urbanist;
    font-size: 24pt;
    letter-spacing: 2px;
    /*padding: 5px;*/
    text-align: center;
}